- messages.each do |message|
  %ul.data_box{"data-message_id": "#{message.id}"}
    %li.chat-main__body--message-name
      = message.user.name
    %li.chat-main__body--message-date
      = message.created_at.strftime('%Y年%m月%d日 %H:%M:%S')
    %li.chat-main__body--message-text
      - if message.text.present?
        = message.text
      %p= image_tag message.image.url, class: 'lower' if message.image.present?
