%div.chat
  %div.chat-side
    %div.chat-side__user
      %div.chat-side__user--name
        = current_user.name
      %div.chat-side__user--contents
        = link_to new_group_path do
          = fa_icon 'edit', class: 'edit-icon'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'cog-icon'
    %div.chat-side__group
      - current_user.groups.each do |group|
        %div.chat-side__group--list
          = link_to group_messages_path(group) do
            %div.chat-side__group--list-name
              = group.name
            %div.chat-side__group--list-message message 無し
  %div.chat-main
    %div.chat-main__header
      %div.chat-main__header--group Group名
      %div.chat-main__header--group-user groupメンバー
      = link_to edit_user_path(current_user) do
        %div.chat-main__header--group-edit{:style => "text-decoration: none;"} edit
        / text-decorationがうまく適応されないお！
    %div.chat-main__body
      %div.chat-main__body--message
        = render 'chat-main__body--message'
    %div.chat-main__footer
      %form{action: "", method: "post", name: "search"}
        %input{name: "search",placeholder: "type a message",class: 'input_text'}
        %label
          = link_to do
            = fa_icon 'image', class: 'img_icon'
        %input{type: "submit",class: 'submit'}
