%div.chat
  %div.chat-side
    %div.chat-side__user
      %div.chat-side__user--name
        = current_user.name
      %div.chat-side__user--contents
        = link_to new_group_path do
          = fa_icon 'edit', class: 'edit-icon'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'cog-icon'
    %div.chat-side__group
      - current_user.groups.each do |group|
        %div.chat-side__group--list
          = link_to group_messages_path(group) do
            %div.chat-side__group--list-name
              = group.name
            %div.chat-side__group--list-message
              = group.show_last_message
  %div.chat-main
    %div.chat-main__header
      %div.chat-main__header--group
        = @group.name
      %div.chat-main__header--group-user
        - @group.members.each do |member|
          = member.user.name
      = link_to edit_user_path(current_user) do
        %div.chat-main__header--group-edit{:style => "text-decoration: none;"} edit
        / text-decorationがうまく適応されないお！
    %div.chat-main__body
      #chat-main__body--scroll
        %div.chat-main__body--message
          = render 'chat-main__body--message', messages: @messages
    %div.chat-main__footer
      = form_for [@group, @message],html: {id: :new_comment} do |f|
        = f.text_field :text, class: 'input_text', placeholder: 'type a message'
        / %input{name: "search",placeholder: "type a message",class: 'input_text'}
        = f.label :image do
          = fa_icon 'image', class: 'img_icon'
          = f.file_field :image, style: 'display:none'
        = f.submit 'send', class: 'submit'
